// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024 Framos. All rights reserved.
 *
 * tegra234-p3737-camera-fr_j7-gmsl-overlay.dts
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/tegra234-clock.h>
#include <dt-bindings/gpio/tegra234-gpio.h>
#include <dt-bindings/tegra234-p3737-0000+p3701-0000.h>


/ {
	overlay-name = "Framos GMSL-J7";
	jetson-header-name = "Jetson AGX CSI Connector";
	compatible = JETSON_COMPATIBLE;

	fragment@0 {
		target = <&tca9548_70_i2c4>;
		__overlay__ {
			framos_dser_e: max96792_e@6a {
				compatible = "framos,max96792";
				reg = <0x6a>;
				csi-mode = "2x4";
				max-src = <1>;
			};
			framos_ser_prim_e: max96793_prim_e@42 {
				compatible = "framos,max96793";
				reg = <0x42>;
				nvidia,gmsl-dser-device = <&framos_dser_e>;
				is-prim-ser;
			};
		};
	};

	fragment@1 {
		target = <&sensor_e>;
		__overlay__ {
			nvidia,gmsl-ser-device = <&framos_ser_prim_e>;
			nvidia,gmsl-dser-device = <&framos_dser_e>;
			gmsl-link {
				src-csi-port = "b";
				dst-csi-port = "a";
				serdes-csi-link = "a";
				csi-mode = "1x4";
				st-vc = <0>;
				vc-id = <0>;
				streams = "raw12";
			};
		};
	};

	fragment@2 {
		target = <&tca9548_70_i2c4>;
		__overlay__ {
			tca6408_21_i2c4: tca6408@21 {
				compatible = "ti,tca6408";
				gpio-controller;
				#gpio-cells = <2>;
				reg = <0x21>;
				status = "okay";
				gpio-line-names = "", "", "J7-tca6408_21_i2c4_cresetb";
			};
		};
	};
};
