// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024 Framos. All rights reserved.
 *
 * tegra234-p3767-camera-p3768-fr_imx662-cam0-2lane-overlay.dts - IMX662 sensor device tree
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/tegra234-clock.h>
#include <dt-bindings/gpio/tegra234-gpio.h>
#include <dt-bindings/tegra234-p3767-0000-common.h>


/ {
	overlay-name = "Framos IMX662-CAM0-2Lane";
	jetson-header-name = "Jetson 24pin CSI Connector";
	compatible = JETSON_COMPATIBLE_P3768;

	fragment@0 {
		target = <&sensor_module0>;
		__overlay__ {
			status = "okay";
			badge = "imx662_front_framos";
			drivernode0 {
				status = "okay";
				/* Declare PCL support driver (classically known as guid) */
				devname = "imx662 10-001a";
				/* Declare the device-tree hierarchy to driver instance */
				sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/cam_i2cmux/i2c@0/imx662_b@1a";
			};
		};
	};

	fragment@1 {
		target = <&sensor_vi_port1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&sensor_vi_in1>;
		__overlay__ {
			status = "okay";
			bus-width = <2>;
		};
	};

	fragment@3 {
		target = <&sensor_csi_ch1>;
		__overlay__ {
			status = "okay";
			ports {
				status = "okay";
			};
		};
	};

	fragment@4 {
		target = <&sensor_csi_ch1_port0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&sensor_csi_ch1_in>;
		__overlay__ {
			status = "okay";
			bus-width = <2>;
			remote-endpoint = <&sensor_out_b>;
		};
	};

	fragment@6 {
		target = <&sensor_csi_ch1_port1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&sensor_csi_ch1_out>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&cam_i2cmux_i2c0>;
		__overlay__ {
			sensor_b: imx662_b@1a {
				compatible = "framos,imx662";
				reg = <0x1a>;

				/* Define any required hw resources needed by driver */
				/* ie. clocks, io pins, power sources */
				clocks = <&bpmp TEGRA234_CLK_EXTPERIPH1>, <&bpmp TEGRA234_CLK_EXTPERIPH1>;
				clock-names = "extperiph1", "pllp_grtba";
				mclk = "extperiph1";
				clock-frequency = <37125000>;

				devnode = "video0";

				physical_w = "12.00";
				physical_h = "9.30";

				sensor_model ="imx662";

				/* Defines number of frames to be dropped by driver internally after applying */
				/* sensor crop settings. Some sensors send corrupt frames after applying */
				/* crop co-ordinates */
				post_crop_frame_drop = "0";

				/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
				use_decibel_gain = "true";

				/* if true, delay gain setting by one frame to be in sync with exposure */
				delayed_gain = "false";

				/* enable CID_SENSOR_MODE_ID for sensor modes selection */
				use_sensor_mode_id = "false";

				mode0 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "1920";
					active_h = "1080";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "98000000"; /* 98 */
					step_framerate = "1";
					default_framerate = "98000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode1 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "1280";
					active_h = "720";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "143000000"; /* 143 */
					step_framerate = "1";
					default_framerate = "143000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode2 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "640";
					active_h = "480";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "205000000"; /* 205 */
					step_framerate = "1";
					default_framerate = "205000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode3 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "1920";
					active_h = "1080";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "66000000"; /* 66 */
					step_framerate = "1";
					default_framerate = "66000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode4 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "1280";
					active_h = "720";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "95000000"; /* 95 */
					step_framerate = "1";
					default_framerate = "95000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode5 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "640";
					active_h = "480";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "137000000"; /* 137 */
					step_framerate = "1";
					default_framerate = "137000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode6 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "968";
					active_h = "550";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "64";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "96000000"; /* 96 */
					step_framerate = "1";
					default_framerate = "96000000";
					exposure_factor = "1000000";
					min_exp_time = "9"; /* us */
					max_exp_time = "660000"; /* us */
					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";
				};
				mode7 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id="0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "1952";
					active_h = "2396";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer_wdr_dol";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "16";
					max_hdr_ratio = "16";

					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "66000000"; /* 66 */
					step_framerate = "1";
					default_framerate = "66000000";
					exposure_factor = "1000000";
					min_exp_time = "568"; /* us */
					max_exp_time = "21617"; /* us */

					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";

					/* HDR */
					num_of_exposure = "2";
					num_of_lines_offset_0 = "118";
					num_of_ignored_pixels = "16";
					num_of_left_margin_pixels = "8";
					num_of_right_margin_pixels = "8";
				};
				mode8 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id="0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "1952";
					active_h = "2396";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer_wdr_dol";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "16";
					max_hdr_ratio = "16";

					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "30000000"; /* 66 */
					step_framerate = "1";
					default_framerate = "30000000";
					exposure_factor = "1000000";
					min_exp_time = "512"; /* us */
					max_exp_time = "19456"; /* us */

					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";

					/* HDR */
					num_of_exposure = "2";
					num_of_lines_offset_0 = "118";
					num_of_ignored_pixels = "16";
					num_of_left_margin_pixels = "8";
					num_of_right_margin_pixels = "8";
				};
				mode9 {
					mclk_khz = "37125";
					num_lanes = "2";
					tegra_sinterface = "serial_b";
					vc_id="0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					lane_polarity = "6";
					active_w = "984";
					active_h = "1198";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer_wdr_dol";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "2000";
					inherent_gain = "1";
					pix_clk_hz = "288000000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "720"; /* 72dB */
					step_gain_val = "3"; /* 0.3 */
					default_gain = "0";
					min_hdr_ratio = "16";
					max_hdr_ratio = "16";

					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "45000000"; /* 45 */
					step_framerate = "1";
					default_framerate = "45000000";
					exposure_factor = "1000000";
					min_exp_time = "568"; /* us */
					max_exp_time = "21617"; /* us */

					step_exp_time = "1";
					default_exp_time = "10000"; /* us */
					embedded_metadata_height = "1";

					/* HDR */
					num_of_exposure = "2";
					num_of_lines_offset_0 = "49";
					num_of_ignored_pixels = "16";
					num_of_left_margin_pixels = "4";
					num_of_right_margin_pixels = "4";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						sensor_out_b: endpoint {
							vc-id = <0>;
							port-index = <1>;
							bus-width = <2>;
							remote-endpoint = <&sensor_csi_ch1_in>;
						};
					};
				};
			};
		};
	};

};
