// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2024 Framos. All rights reserved.
 *
 * tegra234-p3737-camera-fr_imx900-j8-1lane-overlay.dts - IMX900 sensor device tree
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/tegra234-clock.h>
#include <dt-bindings/gpio/tegra234-gpio.h>
#include <dt-bindings/tegra234-p3737-0000+p3701-0000.h>


/ {
	overlay-name = "Framos IMX900-J8-1Lane";
	jetson-header-name = "Jetson AGX CSI Connector";
	compatible = JETSON_COMPATIBLE;

	fragment@0 {
		target = <&sensor_module3>;
		__overlay__ {
			status = "okay";
			badge = "imx900_topright_framos";
			drivernode0 {
				status = "okay";
				/* Declare PCL support driver (classically known as guid) */
				devname = "imx900 15-001a";
				/* Declare the device-tree hierarchy to driver instance */
				sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@3180000/tca9548@70/i2c@6/imx900_g@1a";
			};
		};
	};

	fragment@1 {
		target = <&sensor_vi_port5>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&sensor_vi_in5>;
		__overlay__ {
			status = "okay";
			bus-width = <1>;
		};
	};

	fragment@3 {
		target = <&sensor_csi_ch6>;
		__overlay__ {
			status = "okay";
			ports {
				status = "okay";
			};
		};
	};

	fragment@4 {
		target = <&sensor_csi_ch6_port0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&sensor_csi_ch6_in>;
		__overlay__ {
			status = "okay";
			bus-width = <1>;
			remote-endpoint = <&sensor_out_g>;
		};
	};

	fragment@6 {
		target = <&sensor_csi_ch6_port1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&sensor_csi_ch6_out>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&tca9548_70_i2c6>;
		__overlay__ {
			sensor_g: imx900_g@1a {
				compatible = "framos,imx900";
				reg = <0x1a>;

				/* Define any required hw resources needed by driver */
				/* ie. clocks, io pins, power sources */
				clocks = <&bpmp TEGRA234_CLK_EXTPERIPH1>, <&bpmp TEGRA234_CLK_EXTPERIPH1>;
				clock-names = "extperiph1", "pllp_grtba";
				mclk = "extperiph1";
				clock-frequency = <37125000>;

				devnode = "video6";

				physical_w = "12.00";
				physical_h = "9.30";

				sensor_model ="imx900";

				/* Defines number of frames to be dropped by driver internally after applying */
				/* sensor crop settings. Some sensors send corrupt frames after applying */
				/* crop co-ordinates */
				post_crop_frame_drop = "0";

				/* Convert Gain to unit of dB (decibel) befor passing to kernel driver */
				use_decibel_gain = "true";

				/* if true, delay gain setting by one frame to be in sync with exposure */
				delayed_gain = "false";

				/* enable CID_SENSOR_MODE_ID for sensor modes selection */
				use_sensor_mode_id = "false";

				mode0 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "2064";
					active_h = "1552";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "55000000"; /* 55 */
					step_framerate = "1";
					default_framerate= "55000000";
					exposure_factor = "1000000";
					min_exp_time = "11"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode1 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1920";
					active_h = "1080";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "77000000"; /* 77 */
					step_framerate = "1";
					default_framerate= "77000000";
					exposure_factor = "1000000";
					min_exp_time = "11"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode2 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1032";
					active_h = "776";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "gbrg";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "188000000"; /* 188 */
					step_framerate = "1";
					default_framerate= "188000000";
					exposure_factor = "1000000";
					min_exp_time = "6"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode3 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "2064";
					active_h = "154";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "gbrg";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "369000000"; /* 369 */
					step_framerate = "1";
					default_framerate= "369000000";
					exposure_factor = "1000000";
					min_exp_time = "11"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode4 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1024";
					active_h = "720";

					dynamic_pixel_bit_depth = "12";
					csi_pixel_bit_depth = "12";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "188000000"; /* 188 */
					step_framerate = "1";
					default_framerate= "188000000";
					exposure_factor = "1000000";
					min_exp_time = "6"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode5 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "2064";
					active_h = "1552";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "65000000"; /* 65 */
					step_framerate = "1";
					default_framerate= "65000000";
					exposure_factor = "1000000";
					min_exp_time = "10"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode6 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1920";
					active_h = "1080";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "90000000"; /* 90 */
					step_framerate = "1";
					default_framerate= "90000000";
					exposure_factor = "1000000";
					min_exp_time = "10"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode7 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1032";
					active_h = "776";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "gbrg";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "217000000"; /* 217 */
					step_framerate = "1";
					default_framerate= "217000000";
					exposure_factor = "1000000";
					min_exp_time = "5"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode8 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "2064";
					active_h = "154";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "gbrg";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "420000000"; /* 420 */
					step_framerate = "1";
					default_framerate= "420000000";
					exposure_factor = "1000000";
					min_exp_time = "10"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode9 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1024";
					active_h = "720";

					dynamic_pixel_bit_depth = "10";
					csi_pixel_bit_depth = "10";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "217000000"; /* 217 */
					step_framerate = "1";
					default_framerate= "217000000";
					exposure_factor = "1000000";
					min_exp_time = "5"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode10 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "2064";
					active_h = "1552";

					dynamic_pixel_bit_depth = "8";
					csi_pixel_bit_depth = "8";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "79000000"; /* 79 */
					step_framerate = "1";
					default_framerate= "79000000";
					exposure_factor = "1000000";
					min_exp_time = "8"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode11 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1920";
					active_h = "1080";

					dynamic_pixel_bit_depth = "8";
					csi_pixel_bit_depth = "8";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "110000000"; /* 110 */
					step_framerate = "1";
					default_framerate= "110000000";
					exposure_factor = "1000000";
					min_exp_time = "8"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode12 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1032";
					active_h = "776";

					dynamic_pixel_bit_depth = "8";
					csi_pixel_bit_depth = "8";
					mode_type = "bayer";
					pixel_phase = "gbrg";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "256000000"; /* 256 */
					step_framerate = "1";
					default_framerate= "256000000";
					exposure_factor = "1000000";
					min_exp_time = "4"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode13 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "2064";
					active_h = "154";

					dynamic_pixel_bit_depth = "8";
					csi_pixel_bit_depth = "8";
					mode_type = "bayer";
					pixel_phase = "gbrg";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "486000000"; /* 486 */
					step_framerate = "1";
					default_framerate= "486000000";
					exposure_factor = "1000000";
					min_exp_time = "8"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				mode14 {
					mclk_khz = "37125";
					num_lanes = "1";
					tegra_sinterface = "serial_g";
					vc_id = "0";
					phy_mode = "DPHY";
					discontinuous_clk = "no";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1024";
					active_h = "720";

					dynamic_pixel_bit_depth = "8";
					csi_pixel_bit_depth = "8";
					mode_type = "bayer";
					pixel_phase = "rggb";

					readout_orientation = "0";
					line_length = "3000";
					inherent_gain = "1";
					pix_clk_hz = "237600000";
					serdes_pix_clk_hz = "12000000000"; /* GMSL predefine */

					gain_factor = "10";
					min_gain_val = "0"; /* 0dB */
					max_gain_val = "480"; /* 48dB */
					step_gain_val = "1"; /* 0.1 */
					default_gain = "0";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					framerate_factor = "1000000";
					min_framerate = "1500000"; /* 1.5 */
					max_framerate = "256000000"; /* 256 */
					step_framerate = "1";
					default_framerate= "256000000";
					exposure_factor = "1000000";
					min_exp_time = "4"; /* us */
					step_exp_time = "1";
					max_exp_time = "660000"; /* us */
					default_exp_time = "10000";/* us */
					embedded_metadata_height = "1";
				};
				ports {
					#address-cells = <1>;
					#size-cells = <0>;
					port@0 {
						reg = <0>;
						sensor_out_g: endpoint {
							vc-id = <0>;
							port-index = <6>;
							bus-width = <1>;
							remote-endpoint = <&sensor_csi_ch6_in>;
						};
					};
				};
			};
		};
	};
};
